.box {
    border: 2px;
    border-style: solid;
    border-color: black;
}

#shipping {
    background-color: aquamarine;
}

#shopping {
    background-color: aqua;
}

#login {
    background-color: beige;
}